.butt {
    padding: 8px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;

    background-color: green; 
    color: black; 
    border: 5px solid red;
}