
  .butt {
    padding: 8px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    
    cursor: pointer;
    background-color: orange; 
    color: black; 
    border: 5px solid yellow;
}
.butto {
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    
    cursor: pointer;
    background-color: #66ff33; 
    color: black; 
    border: 5px solid   #006400;
}
.my{
  color: #40ff00 ; 
  font-family:"Lucida Handwriting";
  font-size: 65px;
}
