.tf{
	margin-top: 10px;
	border: 1px solid black;
	padding: 10px;
	border-radius: 10px;
	background-color: #383838;
}

body{
	background-color: #000000;
}

p{
  font-size: 50px;
  text-align: center;
}
